.container {
    width: 100%;
    height: 100%;
    display: table;
}

.barChart {
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.stations {
    width: 300px;
    display: table-cell;
    vertical-align: top;
    overflow: scroll;
}

.map {
    display: table-cell;
}

#mapid { 
    height: 600px; 
    margin: 50px;
}

a {
    color: blue;
    font-size: 12px;
    text-decoration: none;
}