<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>dataViz Project</title>
    </head>
    <body>
        <div class="container">
            <button onclick="window.location.href='{{ url_for( 'get_stations') }}'" id ='btn'>Stations</button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="../static/graphs.js"></script>
    </body>
</html>