{% extends "layout.html" %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block title %}Stations{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-3 stations">
        {% for station in stations %}
            <div class="wrapper" id={{station[2]}}><a class="first after" href="{{request.base_url}}?station={{station[0]}}">{{station[0]}}</a></div>
            <!-- Double click : {{ url_for('get_station', station_name=station[0]) }} -->
            <br />
        {% endfor %}
    </div>
    <div class="col-lg-9 map">
        <div id="mapid"></div>
    </div>

    <script src="../static/markers.js"></script>
    <script src="../static/map.js"></script>
    <script type="text/javascript">
        
        if ({{name|tojson}} != '') {
            {% for key, value in lines.items() %}
                {% for s in value %}
                    var k = {{s[1]|tojson}};
                    {% if name == s[0] %}
                        mymap.setView(k.split(" "), 12); 
                        var marker = L.marker(k.split(" "), {icon: blackIcon}).addTo(mymap);
                        marker.bindPopup("Station <b>"+{{s[0]|tojson}}+"</b><br>Ligne <b>"+{{key|tojson}}+"</b>").openPopup();
                    {% else %}
                        var line = {{key|tojson}}
                        L.marker(k.split(" "), {icon: getMarker(line) }).addTo(mymap);
                    {% endif %}
                {% endfor %}
            {% endfor %}
        }

    </script>
</div>
{% endblock %}
