{% extends "layout.html" %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block title %}Stations{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-2" style="overflow:scroll; height : 600px; margin-top:50px;">
        {% for station in stations %}
            <a href="{{ url_for('get_station', station_name=station[0]) }}">{{station[0]}}</a>
            <br />
            <script type="text/javascript">
              $(document).ready(function(){
                  var marker = new L.marker({{station[1]|tojson}}).addTo(mymap);
              });
            </script>
        {% endfor %}
    </div>
    <div style="margin-left:15em;">
        <div id="mapid"></div>
    </div>
    <script src="../static/map.js"></script>
</div>
{% endblock %}
