{% extends "layout.html" %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block title %}Stations{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-3 stations">
        {% for station in stations %}
            <div class="wrapper" id={{station[2]}}><a class="first after" href="{{ url_for('get_station', station_name=station[0]) }}">{{station[0]}}</a></div>
            <br />
        {% endfor %}
    </div>
    <div class="col-lg-9 map">
        <div id="mapid"></div>
    </div>
    <script src="../static/map.js"></script>
    <script type="text/javascript">
        var marker
        {% for station in stations %}
            document.getElementById({{station[2]|tojson}}).onmouseover = function(e) {
                mymap.removeLayer(marker);
                mymap.setView({{station[1]}}, 11);   
                marker = new L.marker({{station[1]}}).addTo(mymap);
            };
        {% endfor %}
    </script>
</div>
{% endblock %}
