{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="https://cdn.anychart.com/css/latest/anychart-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="../static/graphs.js"></script>
<script src="../static/whiskers_boxes.js"></script>
{% endblock %}

{% block title %}Statistique par nom{% endblock %}

{% block content %}
<div class="btnwrapper">
  {% if data.style == "bar" %}
    <a href="{{request.base_url}}?style=line" role="button">Visualiser sous forme de courbes !</a>
    &nbsp;
    <a href="{{request.base_url}}?style=stache&vacs=both" role="button">Visualiser les moyennes annuelles !</a>
  {% elif data.style == "line" %}
    <a href="{{request.base_url}}?style=bar" role="button">Visualiser sous forme de batons !</a>
    &nbsp;
    <a href="{{request.base_url}}?style=stache&vacs=both" role="button">Visualiser les moyennes annuelles !</a>
  {% else %}
    <a href="{{request.base_url}}?style=line" role="button">Visualiser sous forme de courbes !</a>
    &nbsp;
    <a href="{{request.base_url}}?style=bar" role="button">Visualiser sous forme de batons !</a>
  {% endif %}
</div>

{% if data.style == "bar" or data.style == "line" %}
  <div class="container">
      <div class="barChart">
          <canvas id="myChart" width="400" height="400"></canvas>
      </div>
  </div>
  <script type="text/javascript">
      bar_chart({{data.station|tojson}}, {{data.dates|tojson}}, {{data.jrNB|tojson}}, {{data.jnNB|tojson}}, {{data.style|tojson}});
  </script>
{% else %}
  <br />
  <br />
  <div id="container" class="boxChart"></div>
  <div class="row"></div>
  <script type="text/javascript">
    do_whiskers({{data.dico_vac}}, {{data.dico_work}});
  </script>
  <br />
  <br />
  <p> NB : Il n'y a pas énormément de données de vacances dans le dataset utilisé.. Nous les affichons quand même mais ce n'est pas représentatif.</p>
{% endif %}

{% endblock %}

<!--btn btn-info-->
